<div>
    <h2>
        <span jhiTranslate="travelfinderApp.agenzia.home.title">Agenzias</span>
        <button class="btn btn-primary float-right jh-create-entity create-agenzia-tf" [routerLink]="['/', { outlets: { popup: ['agenzia-tf-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="travelfinderApp.agenzia.home.createLabel">
            Create new Agenzia
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="agenzias">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="travelfinderApp.agenzia.nome">Nome</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let agenzia of agenzias ;trackBy: trackId">
                <td><a [routerLink]="['../agenzia-tf', agenzia.id ]">{{agenzia.id}}</a></td>
                <td>{{agenzia.nome}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../agenzia-tf', agenzia.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'agenzia-tf/'+ agenzia.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'agenzia-tf/'+ agenzia.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
