
<div *ngIf="indirizzo">
    <h2><span jhiTranslate="travelfinderApp.indirizzo.detail.title">Indirizzo</span> {{indirizzo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="travelfinderApp.indirizzo.indirizzo">Indirizzo</span></dt>
        <dd>
            <span>{{indirizzo.indirizzo}}</span>
        </dd>
        <dt><span jhiTranslate="travelfinderApp.indirizzo.citta">Citta</span></dt>
        <dd>
            <span>{{indirizzo.citta}}</span>
        </dd>
        <dt><span jhiTranslate="travelfinderApp.indirizzo.provincia">Provincia</span></dt>
        <dd>
            <span>{{indirizzo.provincia}}</span>
        </dd>
        <dt><span jhiTranslate="travelfinderApp.indirizzo.cap">Cap</span></dt>
        <dd>
            <span>{{indirizzo.cap}}</span>
        </dd>
        <dt><span jhiTranslate="travelfinderApp.indirizzo.regione">Regione</span></dt>
        <dd>
            <span>{{indirizzo.regione}}</span>
        </dd>
        <dt><span jhiTranslate="travelfinderApp.indirizzo.agenzia">Agenzia</span></dt>
        <dd>
            <div *ngIf="indirizzo.agenziaId">
                <a [routerLink]="['/agenzia-tf', indirizzo.agenziaId]">{{indirizzo.agenziaId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'indirizzo-tf/'+ indirizzo.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
